
			<tr >
				<td>	
					<input	
							@oninput="OnNameContainsChanged"
							@bind-value="nameContains"
							type="text"
							class="form-control"
							placeholder="Filter by Name" 
					/>
				</td>
				<td>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Min:</span>
						</div>

						<input 
								@oninput="OnMinQuantityChange"
								@bind-value="minQuantity"
								min="0"
								type="number" 
								class="form-control col-xs-1" 
								placeholder="">

						<div class="input-group-prepend">
							<span class="input-group-text">Max:</span>
						</div>

						<input 
								@oninput="OnMaxQuantityChange"
								@bind-value="maxQuantity"
								min="0"
								pattern="[0-9]"
								type="number" 
								class="form-control col-xs-1" 
								placeholder="">
					</div>
				</td>
				<td>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Min:</span>
						</div>

						<input 
								@oninput="OnMinPriceChange"
								@bind-value="minPrice"
								min="0"
								step="1"
								type="number" 
								class="form-control col-xs-1" 
								placeholder="">

						<div class="input-group-prepend">
							<span class="input-group-text">Max:</span>
						</div>

						<input 
								@oninput="OnMaxPriceChange"
								@bind-value="maxPrice"
								min="0"
								type="number" 
								class="form-control col-xs-1" 
								placeholder="">
					</div>
				</td>
				<td>
					<button 
							@onclick="OnFilterClearPressed"
							type="button" 
							class="btn-dark input-group-text">		
							Clear
					</button>
				</td>
			</tr>

@code {

	private InventoryFilter inventoryFilter { get ; set; } = new InventoryFilter();

	private string nameContains;
	private string minQuantity;
	private string maxQuantity;
	private string minPrice;
	private string maxPrice;

	[Parameter]
	public EventCallback<InventoryFilter> OnFilterChange { get; set; }

	private async Task OnFilterChanged()
	{
		await OnFilterChange.InvokeAsync(inventoryFilter);
	}

	private async Task OnNameContainsChanged(ChangeEventArgs args )
	{
		if (args.Value is null) return;
		this.nameContains = args.Value.ToString();
		inventoryFilter.NameContains = nameContains;
		await OnFilterChanged();
	}

	private async Task OnMinQuantityChange(ChangeEventArgs args )
	{
		if (ArgsNull(args)) return;
		this.minQuantity = args.Value.ToString();
		inventoryFilter.MinimumQuantity = (int)(double.Parse(minQuantity));
		await OnFilterChanged();
	}

	private async Task OnMaxQuantityChange(ChangeEventArgs args )
	{
		if (ArgsNull(args)) return;
		this.maxQuantity = args.Value.ToString();
		inventoryFilter.MaximumQuantity = (int)(double.Parse(maxQuantity));
		await OnFilterChanged();
	}

	private async Task OnMinPriceChange(ChangeEventArgs args)
	{
		if (ArgsNull(args)) return;
		this.minPrice = args.Value.ToString();
		inventoryFilter.MinimumPrice = double.Parse(minPrice);
		await OnFilterChanged();
	}

	private async Task OnMaxPriceChange(ChangeEventArgs args)
	{
		if (ArgsNull(args)) return;
		this.maxPrice = args.Value.ToString();
		inventoryFilter.MaximumPrice = double.Parse(maxPrice);
		await OnFilterChanged();
	}

	private async Task OnFilterClearPressed()
	{
		this.nameContains = "";
		this.minQuantity = "";
		this.maxQuantity = "";
		this.minPrice = "";
		this.maxPrice = "";
		inventoryFilter = new InventoryFilter();
		await OnFilterChanged();
	}

	private bool ArgsNull(ChangeEventArgs args)
	{
		if (args.Value is null) return true;
		if (string.IsNullOrEmpty((string)args.Value)) return true;
		return false;
	}


}
