<div>
	<h1>Welcome!</h1>

	<p>This is an example store management app, built with the Blazor framework.</p>

	<p>The app has the following features:</p>
	<ul>
		<li>
			<b>View the inventories of store locations:</b>
			<ul>
				<li>
					Click on the store name on the left hand navigation bar.
				</li>
			</ul>
		</li>
		<li>
			<b>Add a new store:</b>
			<ul
				<li>
					Go to the store creation page via the left hand navigation bar, enter the information, and click the "Create new location" button. 
					<br /> The name field must contain text, and duplicate names will be numbered to differentiate.
				</li>
			</ul>
		</li>
		<li>
			<b>Delete a new store:</b>
			<ul>
				<li>
					View the store you wish to delete, on the bottom left of the page there is a text field that asks you to enter the store's name. 
					<br /> Fill in the text field and click the "Delete Location" button
				</li>
			</ul>
		</li>
		<li>
			<b>Filter the viewed inventory:</b>
			<ul>
				<li>
					While viewing a store inventory center information into the fields on the top of the table to filter the data apropriately. 
					<br />Click the "Clear" button to remove all filters.
				</li>
			</ul>
		</li>
		<li>
			<b>Edit an item inside an inventory:</b>
			<ul>
				<li>
					While viewing a store inventory click on the "Edit" button next to the field you would like to edit.  
					<br />Change the values, and close the editing fields my clicking the "Save" button that is now beside the field.
				</li>
			</ul>
		</li>
		<li>
			<b>Add a new item to an inventory:</b>
			<ul>
				<li>
					Fill out the fields at the bottom of the inventory table and click the "Save" button located there to add a new entry. 
					<br /> The name field must contain text, and duplicate names will be numbered to differentiate.
				</li>
			</ul>
		</li>
		<li>
			<b>Delete an item from an inventory:</b>
			<ul>
				<li>
					Edit the entry you wish to delete, erase it's name and click the "Save" button. 
					<br /> With no name, the entry will be deleted.
				</li>
			</ul>
		</li>
	</ul>
	<br />
	<p>
		You can view the repository <a href="https://github.com/OwenBrush/BlazorStoreManagementApp" target="_blank">here</a>.
	</p>
</div>

@code {

}
